.tweets {
    width: 300px;
}

.tweet {
    float: left;
    border-bottom: 1px solid #ddd;  
    width: 100%;  
}

.left {
    float: left;
    width: 50px;
}

.left img {
    width: 40px;
}

.right {
    float: left;
    width: 250px;
}

.userName {
    float: left;
    width: 100%;
    font-weight: bold;
}

.tweetText {
    float: left;
    width: 100%;
}